body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*! Nút chuyển background và âm thanh---------------------------------------- */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: none;
    padding: 10px;
    display: flex;
}

button {
    margin-right: 10px;
    padding: 8px 15px;
    position: relative;
    font-size: 13px;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    color: rgba(30, 30, 146, 0.726);
    background-color: white;
    cursor: pointer;
    }
   
    button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 255, 0.2);
    }
   
   button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 255, 0.2);
    }
   
    button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    }
   
    button::after {
    background-color: #fff;
    }
   
    button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    }

/*! Bạch tuột ------------------------------------------------------- */
#BachTuoc {
    left: 100px;
    bottom: 100px;
    width: 200px;
    height: 147px;
    position: absolute;
    animation-name: BachTuoc;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transform: scaleX(1);
}

@keyframes BachTuoc{
    0% {
        left: 50%;
        bottom: 50%;
        transform: rotate(0deg);
    }
    15% {
        left: 70%;
        bottom: 50%;
        transform: rotate(45deg);
    }
    25% {
        left: 90%;
        bottom: 100%;
        transform: rotate(90deg);
    }
    40% {
        left: 180%;
        bottom: 200%;
        transform: rotate(135deg);
    }
    50% {
        left: 200%;
        bottom: 200%;
        transform: rotate(180deg);
    }
    65% {
        left:180%;
        bottom: 250%;
        transform: rotate(-135deg);
    }
    70% {
        left: 90%;
        bottom: 100%;
        transform: rotate(-90deg);
    }
    85% {
        left: 70%;
        bottom: 50%;
        transform: rotate(-45deg);
    }
    100% {
        left: 70%;
        bottom: 50%;
        transform: rotate(-0deg);
    }
}

/*! Quái vật ------------------------------------------------------- */
#quaivat {
	left: 100px; 
    top: 400px;
	width: 200px; height: 147px;
	position: absolute;
	animation-name: quaivat;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-play-state: running;	
	transform: scaleX(1);
}

@keyframes quaivat {
	0% {
        left: 0%; 
        top: 80%; 
        transform: rotateY(0deg);
    }
	33% {
        left: 50%;
        top:80%;
        transform: rotateY(0deg);
    }
    56% {
        left: 83%; 
        top: 80%;
        transform: rotateY(0deg);
    }
    66% {
        left: 88%; 
        top: 80%;
        transform: rotateY(180deg);
    }
    80% {
        left: 50%; 
        top: 80%;
        transform: rotateY(180deg);
    }
    90% {
        left: 20%; 
        top: 80%;
        transform: rotateY(180deg);
    }
    95% {
        left: 10%; 
        top: 80%;
        transform: rotateY(180deg);
    }
    100% {
        left: 0%; 
        top: 80%;
        transform: rotateY(0deg);
    }
}

/*! pufferfish ------------------------------------------------------- */

#pufferfish {
	left: 10%; 
    bottom: 10%;
	width: 189px; 
    height: 189px;
	position: absolute;
	animation-name: pufferfish;
	animation-duration: 18s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-play-state: running;	
	transform: scaleX(1)
}
@keyframes pufferfish {
	0% {
        left:10%; 
        bottom:10%;
    }
	20% {
        left: 25%; 
        bottom: 30%;
    } 
    50% {
        left: 100%; 
        bottom: 50%px; 
        -webkit-transform: scaleX(1);
    } 
    51% {
        left: 100%; 
        bottom: 50%; 
        -webkit-transform: scaleX(-1);
    }
    70% {
        left:80%; 
        bottom: 30%;
    }
    80% {
        left:50%; 
        bottom: 25%;
    }
    99% {
        left: 10%; 
        bottom:10%; 
        -webkit-transform: scaleX(-1);
    }
    100% {
        left: 10%;
        bottom:10%; 
        -webkit-transform: scaleX(1);
    }

}

/*! crab ------------------------------------------------------- */

#crab {
	right: 5%; 
    bottom:0%;
	width: 100px; 
    height: 100px;
	position: absolute;
	animation-name: crab;
	animation-duration: 22s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-play-state: running;	
	transform:scaleX(1)
}
@keyframes crab {
    0% {
        right: 5%;
    }
    20% {
        right: 40%;
    }
    40% {
        right: 80%;
    }
    50% {
        right: 60%;
    }
    60% {
        right: 100%;
    }
    80% {
        right: 70%;
    }
    90%  {
        right: 30%;
    }
    100% {
        right: 5%;
    }

}

/*! con khùng ------------------------------------------------------- */

#conkhung {
    left: 0%; top: 10%;
    position: absolute;
    animation-name: ConKhung;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transform: scaleX(1);
}

    @keyframes ConKhung {
    0% {
        left: 10%; 
        top: 20%;
        transform: rotate(90deg);
    }
    25% {
        left: 35%; 
        top: 40%;
        transform: rotate(105deg);
    }
    50% {
        left: 55%; 
        top: 50%;
        transform: rotate(115deg);
    }
    75% {
        left: 65%; 
        top: 45%;
        transform: rotate(-65deg);
    }
    100% {
        left: 10%; 
        top: 20%;
        transform: rotate(90deg);
    }
}
