body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*! Nút chuyển background và âm thanh---------------------------------------- */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: none;
    padding: 10px;
    display: flex;
}

button {
    margin-right: 10px;
    padding: 8px 15px;
    position: relative;
    font-size: 13px;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    color: rgba(30, 30, 146, 0.726);
    background-color: white;
    cursor: pointer;
   }
   
   button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 255, 0.2);
   }
   
   button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 255, 0.2);
   }
   
   button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   button::after {
    background-color: #fff;
   }
   
   button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

/** Chỉnh lại hiệu ứng con vật của mình tại đây!!------------------------------------- */
#quaivat
{
	left:100px; top:400px;
	width: 200px; height: 147px;
	position: absolute;
	-webkit-animation-name: quaivat;
	-webkit-animation-duration: 10s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;	
	-webkit-transform:scaleX(1)
}
@-webkit-keyframes quaivat	
{
	0%   {left:0%; top:80%;transform: rotateY(0deg);}
	33%   {left:50%; top:80%;transform: rotateY(0deg);}
    56%   {left:83%; top:80%;transform: rotateY(0deg);}
    66%   {left:88%; top:80%;transform: rotateY(180deg);}
    80%   {left:50%; top:80%;transform: rotateY(180deg);}
    90%   {left:20%; top:80%;transform: rotateY(180deg);}
    95%   {left:10%; top:80%;transform: rotateY(180deg);}
    100%   {left:0%; top:80%;transform: rotateY(0deg);}
}

/* *----------------------------------------------------------------------------------- */